@use '/src/styles/constants/colors';
.listItem {
  width: 100%;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px;
  cursor: pointer;

  &:focus,
  &:focus-visible {
    background-color: colors.$GRAYE;
  }

  path {
    fill: colors.$GRAY6;
  }

  p {
    margin-left: 10px;
  }
}
